# --- LLVM Code Formatting Style (4-Space Indent) ---
#
# This file configures clang-format to use the LLVM coding style
# as a base, but overrides the indentation to 4 spaces.
# See: https://clang.llvm.org/docs/ClangFormatStyleOptions.html
#
# ---

Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
ColumnLimit: 80
AllowShortIfStatementsOnASingleLine: false
